<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.domain.risenoveltoonback.repository.mapper.JoinLoginMapper">

<!-- 1. 회원가입 (INSERT) -->
    <insert id="joinUser">
        INSERT INTO users (
            id,
            password,
            nickname,
            cp_name,
            created_at
        ) VALUES (
            #{id},
            #{password},
            #{nickname},
            #{cpName},
            NOW()
        )
    </insert>

<!-- 2. 아이디, 닉네임 중복확인 (INSERT) -->
    <select id="duplicateCheck" parameterType="com.domain.risenoveltoonback.model.joinlogin.DuplicateCheckDto" resultType="int">
        SELECT COUNT(*)
        FROM users
    <choose>
        <when test="title == 'id'">
            WHERE id = #{checkData}
        </when>
        <when test="title == 'name'">
            WHERE nickName = #{checkData}
        </when>
    </choose>
    </select>
</mapper>

