<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.domain.risenoveltoonback.repository.mapper.JoinLoginMapper">

<!-- 1. 회원가입 (INSERT) -->
    <insert id="joinUser">
        INSERT INTO users (
            id,
            password,
            nickname,
            cp_name,
            created_at
        ) VALUES (
            #{id},
            #{password},
            #{nickname},
            #{cpName},
            NOW()
        )
    </insert>


<!-- 2. 회원 가입 아이디, 닉네임 중복 확인 -->
    <select id="joinduplicateCheck" parameterType="com.domain.risenoveltoonback.model.joinlogin.JoinFormDto" resultType="int">
        SELECT COUNT(*)
        FROM users
            WHERE id = #{id} 
                or nickName = #{nickname}
    </select>

<!-- 3. 아이디, 닉네임 중복 확인-->
    <select id="duplicateCheck" parameterType="com.domain.risenoveltoonback.model.joinlogin.DuplicateCheckDto" resultType="int">
        SELECT COUNT(*)
        FROM users
    <choose>
        <when test="title == 'id'">
            WHERE id = #{checkData}
        </when>
        <when test="title == 'nickname'">
            WHERE nickName = #{checkData}
        </when>
    </choose>
    </select>

<!-- 4. 로그인 -->
    <select id="loginUser" parameterType="com.domain.risenoveltoonback.model.joinlogin.LoginFormDto" resultType="int">
        SELECT COUNT(*)
            FROM users
            WHERE id = #{id} and password = #{password}
    </select>
</mapper>